<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--================================================================-->
<!--com/itheima/mapper/-->
<!--================================================================-->

<mapper namespace="com.itheima.mapper.UserMapper">
<!--    id :选择语句的唯一标识-->
<!--    resultType： 返回值类型-->
<!--    select：查询语句-->
    <select id="selectAll" resultType="user">
        select * from tb_user
    </select>
</mapper>